/* GlacialIndifference */

@font-face {
    font-family: "NunitoSans";
    src: url("NunitoSans-Light.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: "NunitoSans";
    src: url("NunitoSans-Regular.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: "NunitoSans";
    src: url("NunitoSans-SemiBold.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: "NunitoSans";
    src: url("NunitoSans-Bold.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: "NunitoSans";
    src: url("NunitoSans-ExtraBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: "NunitoSans";
    src: url("NunitoSans-Black.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;

}
 
